* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Button */
button {
    background-color: #1da1f2;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 6px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
/* Navigation items */
.menu > li {
    display: inline;
    margin-right: 25px;
    list-style-type: none;
}
/* Bottom of page navigation */
.turn > li {
    display: inline;
    margin-right: 25px;
}
/* Page content */
.page {
    width: 800px;
    box-sizing: border-box;
    margin: 20px auto;
}
/* Entire website body */
body {
    box-sizing: border-box;
    width: 1200px;
    margin: auto;
}
header > h1 {
    display: inline;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}
p {
    font-family: 'Literata', serif;
    line-height: 30px;
    color: #333333;
}
hr {
    margin-top: 50px;
    stroke-width: 1px;
    color: #333333;
}
header > img {
    box-sizing: border-box;
}
article h1 {
    margin: 50px 0;
}
article p {
    margin: 30px 0;
}